MAINICON ICON "msei18n.ico"
1 VERSIONINFO
FILEVERSION 2,5,0,0
PRODUCTVERSION 2,5,0,0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
  VALUE "CompanyName",""
  VALUE "FileDescription","MSE NLS editor"
  VALUE "FileVersion","2.5.0.0"
  VALUE "InternalName","msei18n"
  VALUE "LegalCopyright","2011 (c) Martin Schreiber"
  VALUE "OriginalFilename","msei18n.pas"
  VALUE "ProductName","MSE NLS editor"
  VALUE "ProductVersion","2.5.0"
  }
 }
}

