---
name: Make

on:
  schedule:
    - cron:  '0 0 1 * *'
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      matrix:
        os:
          - ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Build on Linux
      if: runner.os == 'Linux'
      shell: bash
      run: |
        set -xeuo pipefail
        sudo bash -c '
          apt-get update; apt-get -y install lazarus
        ' >/dev/null
        fpc -Fulib/common/* -Fulib/common/kernel/linux apps/ide/mseide.pas
